*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login-form form{
  position: relative;
  min-width: 380px;
  min-height: 420px;
  border-radius: 24px;
  background-color: #ffffff90;
  padding: 3rem;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  box-shadow: 0 10px 20px rgba(81, 81, 81, 0.594) ;
}

.login-form form h2{
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.login-form .input-group{
  position: relative;
  width: 100%;
}

.login-form .input-group input{
  background-color: #ffffffab;
  border: 0;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 24px;
  outline: 0;
}

.login-form .input-group i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #85807188;
  font-size: .8rem;
  z-index: 1;
  cursor: pointer;
}

.login-form .login-btn{
    width: 100%;
    padding: .8rem 2rem;
    background-color: #de6014;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.form-footer {
  text-align: center;
  color: #1c1c1c;
  margin-top: 1rem;
}