*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 3rem;
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 2rem;
}

.card {
  display: flex;
  gap: .2rem;
}

.single-card{
  max-width: 280px;
  overflow: hidden;
  border-radius: 12px;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
}

.single-card:hover{
  filter: grayscale(0);
  transform: scale(1);
}

p{
  background-color: rgb(255, 237, 39);
  font-size: 2rem;
  padding: 2rem 4rem;
  border-radius: 24px;
  box-shadow:  0 10px 20px rgba(0, 0, 0, 0.253);
}