@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2e026d;
  background-image:
    radial-gradient(at 25% 30%, hsl(233, 89%, 66%) 0%, transparent 40%),
    radial-gradient(at 75% 70%, rgba(191, 91, 245, 0.5) 0%, transparent 40%);
  color: #fff;
  font-weight: 400;
}


.mouse-glow{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 200px;
    width: 200px;
    background: radial-gradient(circle, hsla(233, 100%, 77%, 0.347), transparent 60%);
    border-radius: 50%;
    filter: blur(32px);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
}

li{
    list-style: none;
}

.nav {
    background-color: #ffffff1e;
    padding: 1.5rem 4rem;
    border-radius: 24px;
    box-shadow: 0 20px 24px #2f026d71;
    overflow: hidden;
}

.nav ul{
    display: flex;
    gap: 1.5rem;
    
}

.nav li{
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    transition: all .3s ease-in-out;
    position: relative;
    transition: all 0.3s ease-in-out;
    
}

.nav li:hover span.text{
    opacity: 0;
    visibility: hidden;
}

.nav li span.icon{
    position: absolute;
    left: 50%;
    top: -300%;
    transform: translate(-50%, -50%);
    color: hsl(233, 89%, 66%);
    transition: all 0.3s ease-in-out;
    line-height: 2.5rem;
}

.nav li:hover span.icon{
    top: 50%;
}

.nav li:active span.icon{
    border-bottom: 3px solid hsl(233, 89%, 66%);
}