@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
}

:root{
    --primary: #282070;
    --secondry: #5b8ec1;
    --light-blue: #5f8dec;
    --whiteColor: #ffffff;
    --blackColor : #000;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to top left, var(--primary), var(--secondry));
}

.price-card{
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondry));
    padding: 2.5rem;
    border-radius: .8rem;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price-card::after{
    content: "";
    position: absolute;
    inset: -3px;
    z-index: -1;
    border-radius: .8rem;
    background: conic-gradient(
        from 0deg at 50% 50%,
        #4f46e5 0deg,
        #06b6d4 90deg,
        #8b5cf6 180deg,
        #ec4899 270deg,
        #4f46e5 360deg
    );
    filter: blur(24px);
    opacity: 0.8;
}

.price-card span{
    padding: .2rem .8rem;
    color: rgba(255, 255, 255, .8);
    background-color: #5f8dec;
    border-radius: 50px;
    font-size: .8rem;
    display: inline;
    width: fit-content;
}


.card-list li{
    border-bottom: 1px solid #5b8ec1;
    line-height: 32px;
    font-size: .8rem;
}

.card-btn{
    color: #fff;
    background-image: linear-gradient(to left, #ec4899, #8b5cf6);
    padding: .5rem 1.5rem;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    transition: all .3s ease-in-out;
}

.card-btn:hover{
    background-image: linear-gradient(to right, #ec4899, #8b5cf6);
}