@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #1b0830, #12061f);
    color: #fff;
    font-weight: 400;
    min-height: 100vh;
}

.card{
    max-width: 320px;
    background-color: rgb(26, 9, 46);
    padding: 4.5rem 2.5rem;
    border-radius: 24px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.45),
        inset 0 0 0 1px rgba(255, 255, 255, 0.02);
    overflow: hidden;
    z-index: 1;
}

.card::before{
    content: "";
    position: absolute;
    inset: -100px;
    background-image: conic-gradient(
        transparent,
        transparent,
        transparent,
        #00efff
    );
    animation: rotate 3s linear infinite;
    z-index: 0;

}

.card:hover::before {
animation-direction: reverse;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.card::after{
    position: absolute;
    content: "";
    inset: 2px;
    background-color: rgb(26, 9, 46);;
    border-radius: 24px;
    z-index: 0;
}

.card span, .card div {
    position: relative;
    z-index: 1;
}

.card span{
    text-transform: uppercase;
    font-size: .6rem;
    border: 1px solid #ffffff81;
    width: fit-content;
    padding: .2rem 1rem;
    border-radius: 1rem;
}

.card h3{
    margin-bottom: 1.5rem;
}

.card p{
    font-size: .8rem;
    color: #bdbdbd;
}
